style "progress"
{
	fg[PRELIGHT]	= @fg_color
	xthickness	= 0
	ythickness	= 0
	engine "pixmap"
	{
		image
		{
			function	= BOX
			detail		= "trough"
			file		= "Images/Progressbars/boxH.png"
			border		= {5, 5, 5, 5}
			stretch		= TRUE
			orientation	= HORIZONTAL
		}
		image
		{
			function	= BOX
			detail		= "trough"
			file		= "Images/Progressbars/boxV.png"
			border		= {5, 5, 5, 5}
			stretch		= TRUE
			orientation	= VERTICAL
		}

		image
		{
			function	= BOX
			detail		= "bar"
			file		= "Images/Progressbars/barH.png"
			border		= {5,5,5,5}
			stretch		= TRUE
			orientation	= HORIZONTAL
		}
		
		image
		{
			function	= BOX
			detail		= "bar"
			file		= "Images/Progressbars/barV.png"
			border		= {5,5,5,5}
			stretch		= TRUE
			orientation	= VERTICAL
		}
	}

}
