style "scrollbar"
{	
	GtkScrollbar	::min-slider-length	= 19
	GtkScrollbar	::slider-width		= 19
	GtkScrollbar	::stepper-size		= 19
	GtkScrollbar	::trough-border		= 0
	GtkScrollbar	::fixed-slider-length = 1
	GtkScrollbar	::activate-slider	= 1
	GtkScrollbar	::trough-under-steppers	= 0
	
	engine "pixmap"
	{
	##Background
		image
		{
		function	= BOX
		recolorable	= TRUE
		file		= "Images/Scrollbars/backV.png"
		border		= { 7, 8, 8, 8 }
		stretch		= TRUE
		orientation	= VERTICAL
		}
		
		image
		{
		function	= BOX
		recolorable	= TRUE
		file		= "Images/Scrollbars/backH.png"
		stretch		= TRUE
		border		= { 8, 8, 8, 8 }
		orientation	= HORIZONTAL
		}
	##Sliders
		image 
		{
		function	= SLIDER
		recolorable	= TRUE
		state		= NORMAL
		file		= "Images/Scrollbars/slider.png" 
		border		= { 5, 5, 5, 5 }
		stretch		= TRUE
		orientation	= HORIZONTAL

		}

		image 
		{
		function	= SLIDER
		recolorable	= TRUE
		state		= ACTIVE
		file		= "Images/Scrollbars/slider2.png" 
		border		= { 5, 5, 5, 5 }
		stretch		= TRUE
		orientation	= HORIZONTAL
		}

		image 
		{
		function	= SLIDER
		recolorable	= TRUE
		state		= PRELIGHT
		file		= "Images/Scrollbars/slider2.png" 
		border		= { 5, 5, 5, 5 }
		stretch		= TRUE
		orientation	= HORIZONTAL
		}

		image 
		{
		function	= SLIDER
		recolorable	= TRUE
		state		= INSENSITIVE
		file		= "Images/Scrollbars/slider.png" 
		border		= { 5, 5, 5, 5 }
		stretch		= TRUE
		orientation	= HORIZONTAL
		}

		image 
		{
		function	= SLIDER
		recolorable	= TRUE
		state		= NORMAL
		file		= "Images/Scrollbars/slider.png" 
		border		= { 5, 5, 5, 5 }
		stretch		= TRUE
		orientation	= VERTICAL
		}

		image 
		{
		function	= SLIDER
		recolorable	= TRUE
		state		= ACTIVE
		file		= "Images/Scrollbars/slider2.png" 
		border		= { 5, 5, 5, 5 }
		stretch		= TRUE
		orientation	= VERTICAL
		}

		image 
		{
		function	= SLIDER
		recolorable	= TRUE
		state		= PRELIGHT
		file		= "Images/Scrollbars/slider2.png" 
		border		= { 5, 5, 5, 5 }
		stretch		= TRUE
		orientation	= VERTICAL
		}

		image 
		{
		function	= SLIDER
		recolorable	= TRUE
		state		= INSENSITIVE
		file		= "Images/Scrollbars/slider1.png" 
		border		= { 5, 5, 5, 5 }
		stretch		= TRUE
		orientation	= VERTICAL
		}

	##Stepper
		image
		{
		function = STEPPER
		file = "Images/Scrollbars/left1.png"
		state = NORMAL		
		arrow_direction = LEFT
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/left2.png"
		state = PRELIGHT
		arrow_direction = LEFT
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/left2.png"
		state = ACTIVE
		arrow_direction = LEFT
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/left1.png"
		state = INSENSITIVE
		arrow_direction = LEFT
		}
	
		image
		{
		function = STEPPER
		file = "Images/Scrollbars/right1.png"
		state = NORMAL
		arrow_direction = RIGHT
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/right2.png"
		state = PRELIGHT
		arrow_direction = RIGHT
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/right2.png"
		state = ACTIVE
		arrow_direction = RIGHT
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/right1.png"
		state = INSENSITIVE
		arrow_direction = RIGHT
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/up1.png"
		state = NORMAL
		arrow_direction = UP
		}
	
		image
		{
		function = STEPPER
		file = "Images/Scrollbars/up2.png"
		state = PRELIGHT
		arrow_direction = UP
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/up2.png"
		state = ACTIVE
		arrow_direction = UP
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/up1.png"
		state = INSENSITIVE
		arrow_direction = UP
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/down1.png"
		state = NORMAL
		arrow_direction = DOWN
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/down2.png"
		state = PRELIGHT
		arrow_direction = DOWN
		}

		image
		{
		function = STEPPER
		file = "Images/Scrollbars/down2.png"
		state = ACTIVE
		arrow_direction = DOWN
		}
	
		image
		{
		function = STEPPER
		file = "Images/Scrollbars/down1.png"
		state = INSENSITIVE
		arrow_direction = DOWN
		}
	}
}
